Elementos_originales_que_no_sirven

Datasets_pre_procesados
tr_1_hechos_borrador.ipynb
primeras_explicaciones_de_dimensiones.ipynb
tr_2_ victimas_borrador.ipynb
non_ascii_values.csv
Datasets_para_MySQL
Datasets_para_probar_distintos_errores
Dimensiones_analisis_en_page
Datasets_limpios
kpi_completo_1_notebook.ipynb
non_ascii_values.csv
Power_Bi
